/* Write your CSS here */
.main-container {
  min-height: 100vh;
  padding: 5%;
  padding-top: 2%;
}
.name-container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png);
  height: 20vh;
  background-size: cover;
  padding: 20px;
  margin-bottom: 30px;
}
.transaction-history-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.transaction-container {
  width: 30%;
  background-color: white;
  height: 50vh;
  border: 2px solid #7e858e;
  border-radius: 20px;
  padding-left: 4%;
  padding-right: 4%;
}
.title {
  display: block;
  font-family: Roboto;
  font-size: 20px;
  color: #9eaec2;
  font-weight: 600;
  margin-bottom: 6px;
}
.input-title {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  color: #7e858e;
  border: 1px solid #334155;
  margin-bottom: 20px;
  padding-left: 20px;
}
.history-container {
  width: 60%;
  background-color: white;
  height: 50vh;
  border: 2px solid #7e858e;
  border-radius: 20px;
  padding-left: 4%;
  padding-right: 4%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.span-element {
  color: #0b69ff;
  font-family: Roboto;
  font-weight: 600;
}
.unOrdered-list {
  list-style: none;
  padding: 0px;
}
.list-headings {
  display: flex;
  border: 1px solid #cbd5e1;
  padding-left: 20px;
}
.each-heading {
  width: 25%;
  font-family: Roboto;
  font-size: 20px;
  color: #7e858e;
}
.transaction-headign {
  color: #475569;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 600;
}
.welcome-text {
  font-family: Roboto;
  color: #334155;
}
.richard-name {
  font-family: Roboto;
  color: #334155;
}
.submit-button {
  background-color: #0b69ff;
  color: white;
  font-family: Roboto;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  font-weight: 600;
}
